{% extends "dashboard_layout.html" %}
{% block body %}
    <div class="content-wrapper">
        <div class="container">
              <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h1 class="page-head-line">Create a new group</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                        
                        <div class="panel-body">
                       <form action="" method="post">
                              <div class="form-group">
                              <h3>Name your group</h3>
                                <input type="text" class="form-control input-lg" name="groupname" id="groupname" placeholder="The Alcoholic Avengers"/>
                         </div>
                         <br>
                                <h3>Invite your sharaabis to join this group</h3>
                         <div class="form-group">
                           <label for="exampleInputEmail1">Enter email ids of your sharaabis </label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1" name="email1" placeholder="Enter email" />
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1" name="email2" placeholder="Enter email" />
                      <input type="email" class="form-control input-lg" id="exampleInputEmail1" name="email3" placeholder="Enter email" />
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1" name="email4" placeholder="Enter email" />
                              </div>
  
                        <div class="col-md-6 col-md-offset-3">
                          <a href="index.html" ><button class="btn btn-info btn-lg" type="submit"> &nbsp;Create group and send invitations </button></a></div>
  
</form>
                            </div>
                            </div>
                    </div>
                    
          </div>
        </div>
    </div>
    {% endblock %}