{% extends "public_layout.html" %}
{% block body %}

<div class="header alt vert">
  <div class="container">
    <button type="button" class="loginbt btn btn-default btn-sm">LOGIN</button>
    <img class="logosize" src="/static/sharaabi-logo.png">
    <h1 class="topclear">Kitna piyoge? Thoda control?</h1>
      <p class="lead">Create a sharaabi group where each person gets to send only one drinking invite each week. Bas.</p>
      <div>&nbsp;</div>
      <a href="http://www.bootply.com/JU51oUMIye" class="btn btn-default btn-lg">Create your sharaabi group</a>
  </div>
</div>


<div class="featurette" id="sec2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>How does it work?</h1>
        
      </div>
    </div>
          <div>&nbsp;</div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-users"></i>
          <h4>Create a<br>group</h4>
          <p>Sign up for Sharaabi.me. Create your group. Sharaabi.me sends them an invite.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-user-plus"></i>
          <h4>Buddies<br>sign up</h4>
          <p>Plead, threaten, cajole your bewdas to sign up and then they are part of your group.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-hand-peace-o"></i>
          <h4>Make a daaru session</h4>
          <p>Every week, each person can create only one daaru session. Sharaabi.me alerts everyone.</p>
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="featurette-item">
          <i class="fa fa-bar-chart"></i>
          <h4>Track your drinking</h4>
          <p>End-of-month decide if you need an intervention depending on how many times you drank.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="blurb profsec" id="sec4">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Made for professional drinkers</h1>
        <p class="lead">Time to join the big league kiddo</p>

      </div>
    </div>
  </div>
</div>




<div class="blurb bright">
  
  <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Hear it from the drunks</h1>
        <br>
      </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
         <div class="panel-body text-center">
                  <img src="/static/Salman.png">
         <h2 class="cblack">"It changed my life boss!"</h2>
         <div class="panel-body text-center"><p>I doesn't now what I was doing without these app. Pehle I used to harass my frands on facebook but they wouldn't party with me. Now bas I send invite and everyone is there. No kich-kich. Add me to your group. handsumsalman_16@hotmail.com.</p>
         <p><strong>- Salman</strong></p>
          </div>
         </div>
 	</div>
    <div class="col-sm-4">
         <div class="panel-body text-center">
         <img src="/static/aamir.png">
         <h2 class="cblack">"Even my theka guy uses it!"</h2>
         <div class="panel-body text-center"><p>I am a lonely person. I am not afraid to admit that I might have a problem. But when my theka guy added me to his daaru group my world changed. Now I know more lonely people like me. We meet up regularly to drink.</p>
         <p><strong>- Aamir</strong></p>
           
          </div>
         </div>
 	</div>
  </div>
</div>

<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <h1>Sharaab sessions, organized.</h1>
        <p class="lead">Be the first million in this revolution. Don't you wish you would have been the first in your group to discover facebook, truecaller or youporn?</p>
                  <button class="btn btn-lg btn-info btn-block">Chal group bana</button> 

      </div>
    </div>
  </div>
</div>

{% endblock %}