{% extends "dashboard_layout.html" %}
{% block body %}
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                        <img class="logosize" src="/static/sharaabi-logo.png">

                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END-->
    
    <!-- LOGO HEADER END-->
   
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h4 class="page-head-line">Sign up to create your group</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                <form action="" method="post">
                   <label>Enter Email ID: </label>
                        <input type="text" name="email" class="form-control" />
                        <label>Enter Password:  </label>
                        <input type="password" name="password" class="form-control" />
                        <hr />
                        <input type="submit" id="signup" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;Sign me up yo! </a>&nbsp;
                        </form>
                </div>
                

            </div>
        </div>
    </div>
    <script>

    </script>
{% endblock %}
